<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{#<!DOCTYPE HTML>#}
<html lang="zxx">

<head>
	<title>Disease Consultant</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Latest Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="/static/login/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<div class="main-bg">
		<!-- title -->
		<h1>Welcome To DCSC</h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="/static/login/images/img.png" alt="" height="143" />
				</div>
				<form action="/myapplication/login_load_post/" method="post">
					<h2><b>Login</b></h2>
					<div class="input">
						<input type="text" placeholder="Username" name="textfield" required />
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Password" name="textfield2" required />
						<span class="fa fa-unlock"></span>
					</div>
					<button type="submit" class="btn submit" name="button">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
                <a href="/myapplication/patient_registration" class="bottom-text-w3ls">Sign In</a>
				<br><a href="forgotPassword.php" class="bottom-text-w3ls">Forgot Password?</a>
			</div>
		</div>
		<!-- //content -->
		<!-- copyright -->
		<div class="copyright">
			<h2>    </h2>
		</div>
		<!-- //copyright -->
	</div>
</body>

</html>




{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}



{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/myapplication/login_load_post/">#}
{#  <table width="247" border="1">#}
{#    <tr>#}
{#      <th width="81" scope="col">User name </th>#}
{#      <th width="150" scope="col"><input name="textfield" type="text" /></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">Password</th>#}
{#      <td><input type="password" name="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th colspan="2" scope="row"><input type="submit" name="Submit" value="Login" /></th>#}
{#    </tr>#}
{#  </table><br>#}
{#    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#    <a href="/myapplication/patient_registration">Register</a>#}
{#</form>#}
{#</body>#}
{#</html>#}
