{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" enctype="multipart/form-data#}
{#" action="/myapplication/patient_registration_post">#}
{##}
{#<table width="302" border="1">#}
{#  <tr>#}
{#    <td width="142" scope="col">Name</td>#}
{#    <td width="144" scope="col">#}
{#      <input type="text" name="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Age</td>#}
{#    <td>#}
{#      <input type="text" name="textfield2" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Gender</td>#}
{#    <td>#}
{#      <p>#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="Male" />#}
{#          Male</label>#}
{#        <br />#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="Female" />#}
{#          Female</label>#}
{#        <br />#}
{#        <label>#}
{#          <input type="radio" name="RadioGroup1" value="Others" />#}
{#          Others</label>#}
{#        <br />#}
{#      </p>#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Place</td>#}
{#    <td>#}
{#      <input type="text" name="textfield3" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">PIN</td>#}
{#    <td>#}
{#      <input type="text" name="textfield4" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Post</td>#}
{#    <td>#}
{#      <input type="text" name="textfield5" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Contact</td>#}
{#    <td>#}
{#      <input type="text" name="textfield6" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Email</td>#}
{#    <td>#}
{#      <input type="text" name="textfield7" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Photo</td>#}
{#    <td><input type="file" name="file"/></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Username</td>#}
{#    <td>#}
{#      <input type="text" name="textfield8" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Password</td>#}
{#    <td>#}
{#      <input type="password" name="textfield9" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">Confirm password </td>#}
{#    <td>#}
{#      <input type="password" name="textfield10" />#}
{##}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td scope="row">&nbsp;</td>#}
{#    <td>#}
{#      <input type="submit" name="Submit" value="Register " />#}
{##}
{#    </td>#}
{#  </tr>#}
{#</table>#}
{#</form>#}
{#</body>#}
{#</html>#}





<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{#<!DOCTYPE HTML>#}
<html lang="zxx">

<head>
	<title>Disease Consultant</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Latest Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="/static/login/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<div class="main-bg">
		<!-- title -->
		<h1>Welcome To DCSC</h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="/static/login/images/img.png" alt="" height="143" />
				</div>
				<form action="/myapplication/patient_registration_post" method="post" enctype="multipart/form-data">
					<h2><b>SignIn</b></h2>
					<div class="input">
						<input type="text" placeholder="Name" name="textfield" required />
						<span class="fa fa-user"></span>
					</div>
					<div class="input">
						<input type="number" placeholder="Age" name="textfield2" required />
						<span class="fa fa-calendar-check-o"></span>
					</div>
                    	<div class="input">
<select name="radio" style="border-color: #1cc7d0;width: 100%;height: 45px" >
    <option>--Select--</option>
<span class="fa fa-genderless"></span>
    <option>Male</option>
    <option>Female</option>
    <option>Others</option>
</select>


{#						<input type="radio" placeholder="Place" name="radio" value="Male" />#}
{#						<span class="fa fa-male"></span>#}
					</div>
                    	<div class="input">
						<input type="text" placeholder="Place" name="textfield3" required />
						<span class="fa fa-location-arrow"></span>
					</div>
					<div class="input">
						<input type="number" placeholder="Pincode" name="textfield4" required />
						<span class="fa fa-file-zip-o"></span>
					</div>
                    	<div class="input">
						<input type="text" placeholder="Post" name="textfield5" required />
						<span class="fa fa-long-arrow-down"></span>
					</div>
					<div class="input">
						<input type="number" placeholder="Contact" name="textfield6"  required />
						<span class="fa fa-phone"></span>
					</div>
                    	<div class="input">
						<input type="email" placeholder="Email" name="textfield7" required />
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Password" name="textfield9" required />
						<span class="fa fa-unlock"></span>
					</div>
                    <div class="input">
						<input type="password" placeholder="Confirm Password" name="textfield10" required />
						<span class="fa fa-unlock"></span>
					</div>
                     <div class="input">
                          <tr>
                              <td><input type="file" name="file"/></td>
                              <span class="fa fa-photo"></span>
                          </tr>
                    </div>
					<button type="submit" class="btn submit" name="button">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
{#                <a href="/myapplication/patient_registration" class="bottom-text-w3ls">Sign In</a>#}
{#				<br><a href="forgotPassword.php" class="bottom-text-w3ls">Forgot Password?</a>#}
			</div>
		</div>
		<!-- //content -->
		<!-- copyright -->
		<div class="copyright">
			<h2>    </h2>
		</div>
		<!-- //copyright -->
	</div>
</body>

</html>



